# See how to get these values here: https://gatsby.dev/shopify-api-keys
GATSBY_STOREFRONT_ACCESS_TOKEN=XXX
GATSBY_SHOPIFY_STORE_URL=your-url.myshopify.com
SHOPIFY_SHOP_PASSWORD=shppa_xxxxx
GOOGLE_ANALYTICS_ID=XXX
