:root {
  --font-body: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --text-color: var(--gray-90);
  --text-color-secondary: var(--gray-50);
  --primary-color-80: #088413;
  --gray-90: #232129;
  --gray-70: #48434f;
  --gray-50: #78757a;
  --black-fade-40: #979797;
  --black-fade-10: #e2e2e2;
  --black-fade-5: #eeeeee;
  --blue-hover: #4299e199;
  --border-radius: 8px;
  --border-radius-sm: 4px;
  --size-sm: 4px;
  --size-md: 8px;
  --size-gap: 12px;
  --size-lg: 16px;
  --size-xl: 20px;
  --size-2xl: 24px;
  --size-input: 48px;
  --size-fat-pad: 50px;
  --solid: 1;
  --dense: 1.25;
  --default: 1.5;
  --loose: 2;
  --tracked: 0.075em;
  --tight: -0.015em;
  --body: 400;
  --medium: 500;
  --semiBold: 600;
  --bold: 700;
  --text-xs: 12px;
  --text-sm: 14px;
  --text-md: 16px;
  --text-lg: 18px;
  --text-xl: 18px;
  --text-2xl: 18px;
  --text-3xl: 18px;
  --text-4xl: 20px;
  --text-splash: 20px;

  --grid-wide: 1fr;
  --grid-narrow: 1fr;
}

body {
  font-family: var(--font-body);
  color: var(--text-color);
}

@media (min-width: 640px) {
  :root {
    --grid-wide: 1fr 1fr;
    --text-xl: 20px;
    --text-2xl: 20px;
    --text-3xl: 24px;
    --text-4xl: 24px;
    --text-splash: 28px;
    --size-lg: 16px;
    --size-xl: 24px;
    --size-2xl: 28px;
    --size-input: 48px;
  }
}

@media (min-width: 1024px) {
  :root {
    --grid-wide: repeat(3, 1fr);
    --grid-narrow: 1fr 1fr;
    --text-2xl: 24px;
    --text-3xl: 28px;
    --text-4xl: 28px;
    --text-splash: 36px;
    --size-2xl: 32px;
  }
}

@media (min-width: 1280px) {
  :root {
    --grid-wide: repeat(4, 1fr);
    --text-4xl: 36px;
    --text-splash: 56px;
  }
}
