.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--size-gutter-raw);
  padding-right: var(--size-gutter-raw);
  margin-top: var(--space-2xl);
}

.heading {
  line-height: var(--dense);
  font-size: var(--text-display);
  font-weight: var(--bold);
}

.paragraph {
  font-size: var(--text-lg);
  margin-top: var(--space-2xl);
}
