.table {
  flex: 1;
  max-width: 1024px;
  margin: auto;
  width: 100%;
  display: grid;
  grid-template-columns: 48px 1fr min-content;
  gap: var(--size-md) var(--size-2xl);
}
.table th {
  text-align: left;
  text-transform: uppercase;
  font-size: var(--text-xs);
  padding-bottom: var(--size-2xl);
}

.table tr,
.table thead,
.table tbody {
  display: contents;
}

.wrap {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 0 var(--size-xl);
}

.totals,
.table th.totals {
  text-align: right;
}

.summary {
  font-weight: var(--semiBold);
  font-size: var(--text-lg);
}

.grandTotal {
  font-size: var(--text-2xl);
  font-weight: var(--semiBold);
}

.checkoutButton {
  background-color: var(--primary-color-80);
  color: white;
  border: none;
  border-radius: var(--border-radius);
  margin: auto;
  font-weight: var(--bold);
  font-size: var(--text-lg);
  padding: var(--size-md) var(--size-2xl);
}

/* Apply only to first of class */
.summary td {
  padding-top: 50px;
}

.summary ~ .summary td {
  padding-top: 0;
}

.summary .labelColumn {
  grid-column-start: 1;
  grid-column-end: 2;
}

.summary .totals {
  grid-column-start: 2;
  grid-column-end: 4;
}

.grandTotal .labelColumn {
  grid-column-start: 1;
  grid-column-end: 3;
}

.collapseColumn {
  display: none;
}

.productHeader {
  grid-column-start: 1;
  grid-column-end: 3;
}

.imageHeader {
  position: fixed;
  width: 0;
  height: 0;
  overflow: hidden;
}

@media (min-width: 640px) {
  .summary .labelColumn,
  .summary .totals,
  .grandTotal .labelColumn {
    grid-column-start: auto;
    grid-column-end: auto;
  }

  .collapseColumn {
    display: block;
  }
  .table {
    grid-template-columns: 80px 1fr repeat(3, min-content);
  }
}

@media (min-width: 1024px) {
  .table {
    grid-template-columns: max-content 1fr repeat(3, max-content);
  }
}
