.main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr;
  grid-template-areas:
    "search"
    "results"
    "filters";
}

.filterStyle {
  grid-area: filters;
  /* Visually hidden */
  width: 0;
  height: 0;
  overflow: hidden;
}

.filterStyle.modalOpen {
  display: grid;
  grid-template-rows: min-content 1fr;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  z-index: 10;
  background-color: white;
  overscroll-behavior: contain;
}

.filterWrap {
  overflow-y: scroll;
  padding: 0 var(--size-2xl);
}

.filterStyle details {
  margin-bottom: var(--size-2xl);
}
.filterStyle * + details {
  margin-top: var(--size-2xl);
}
.filterStyle hr {
  border-color: var(--black-fade-5);
}

.filterTitle {
  padding: 12px 12px 12px 24px;
  display: grid;
  align-items: center;
  grid-template-columns: min-content 1fr min-content;
  color: var(--text-color-secondary);
}

.filterTitle button {
  display: grid;
  place-items: center;
  width: var(--size-input);
  height: var(--size-input);
  position: relative;
}

.filterTitle h2 {
  font-size: var(--text-4xl);
  font-weight: var(--bold);
}

.results {
  grid-area: results;
  padding: 0 var(--size-2xl);
}

.results ul {
  flex-direction: column;
}

.search {
  position: relative;
  grid-area: search;
  height: min-content;
  display: grid;
  grid-template-columns: auto max-content max-content;
  align-items: center;
  padding: var(--size-md) var(--size-xl);
}

.search input {
  font-size: var(--text-lg);
  grid-area: input;
  padding-left: var(--size-md);
  height: var(--size-input);
  background: none;
}

.searchForm {
  display: grid;
  grid-template-columns: 1fr max-content;
  grid-template-areas: "input clear";
  align-items: center;
  background-color: var(--black-fade-5);
  border-radius: var(--border-radius);
  height: var(--size-input);
  padding: 0 var(--size-md);
}

.searchIcon {
  display: none;
  grid-area: icon;
  color: var(--text-color-secondary);
}

.clearSearch {
  grid-area: clear;
  border-radius: 1000px;
  color: var(--text-color-secondary);
  padding: var(--size-sm);
  display: grid;
  place-items: center;
}

.clearSearch:hover {
  background-color: var(--text-color-secondary);
  color: var(--black-fade-5);
}

.filterButton {
  color: var(--text-color-secondary);
  padding: var(--size-sm);
  display: grid;
  place-items: center;
  width: var(--size-input);
}

.filterButton.activeFilters {
  color: var(--primary-color-80);
}

.filterButton:hover {
  background-color: var(--text-color-secondary);
  color: var(--black-fade-5);
}

.sortSelector {
  display: grid;
  place-items: center;
  font-weight: var(--semiBold);
}

.sortSelector label {
  grid-area: 1/1;
}

.sortSelector select {
  padding-left: var(--size-lg);
  opacity: 0;
  width: var(--size-input);
  height: var(--size-input);
  cursor: pointer;
  font-weight: var(--semiBold);
  appearance: none;
  background: url("data:image/svg+xml,%3Csvg width='16' height='16' xmlns='http://www.w3.org/2000/svg' fill='black'%3E%3Cpolyline points='4 6 8 10 12 6'/%3E%3C/svg%3E")
    no-repeat center right;
}

.sortSelector label span {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
}

.sortIcon {
  grid-area: 1/1;
  color: var(--text-color-secondary);
}
.productList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: var(--size-lg);
}

@media (min-width: 1024px) {
  .filterTitle {
    display: none;
  }
  .filterButton {
    display: none;
  }

  .filterStyle.modalOpen {
    position: fixed;
  }

  .filterStyle {
    padding: var(--size-xl);
    padding-top: 0;
    /* Visually hidden */
    width: auto;
    height: auto;
  }
  .sortIcon {
    display: none;
  }
  .searchIcon {
    display: inline;
  }
  .searchForm {
    grid-template-columns: 30px 1fr max-content;
    grid-template-areas: "icon input clear";
  }
  .search input {
    padding-left: 0;
  }
  .main {
    grid-template-columns: max-content 1fr;
    grid-template-areas:
      "search search"
      "filters results";
  }

  .sortSelector {
    padding-left: var(--size-lg);
    justify-content: flex-end;
  }

  .sortSelector select {
    width: auto;
    padding-right: var(--size-xl);
    opacity: 1;
  }
  .sortSelector label span {
    position: initial;
    width: auto;
    height: auto;
  }
}

@media (min-width: 1280px) {
  .main {
    grid-template-areas:
      "filters search"
      "filters results";
  }
  .search {
    grid-gap: var(--size-2xl);
    padding: 0;
  }
  .results {
    padding: 0;
  }
  .sortSelector {
    padding: 0 var(--size-2xl);
  }
}

.productListItem {
  display: flex;
  justify-content: center;
  width: 100%;
}

.priceFilter {
  display: grid;
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.pagination > button {
  width: var(--size-2xl);
  height: var(--size-2xl);
  font-size: var(--text-sm);
  border-radius: var(--border-radius-sm);
  display: grid;
  place-items: center;
}

.pagination > button:hover {
  background-color: var(--black-fade-10);
}

.pagination > button.selectedItem {
  background-color: var(--black-fade-10);
  font-weight: 700;
}

.pagination > button:disabled {
  cursor: default;
  opacity: 0;
}

.priceFilterStyle {
  display: flex;
}

.priceFilterStyle label {
  cursor: pointer;
  margin-top: 2px;
}

.priceFilterStyle summary {
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: var(--size-md);
  font-size: var(--text-xs);
  letter-spacing: var(--tracked);
}

.clearButton {
  color: var(--black-fade-40);
  font-size: var(--text-sm);
}

.priceFields {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: var(--size-sm);
}

.priceFields input {
  max-width: 96px;
}

.progressStyle {
  font-size: var(--text-md);
  color: var(--text-color-secondary);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  padding: var(--size-xl) 0;
}

.resultsStyle {
  font-size: var(--text-md);
  color: var(--text-color);
  padding: var(--size-xl) 0;
}

.resultsStyle span {
  font-weight: var(--bold);
}
