.main {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: min-content 1fr;
  grid-template-areas:
    'filters search'
    'filters results';
}

.filters {
  grid-area: filters;
  padding: var(--size-xl);
  padding-top: 0;
}

.filters details {
  margin-bottom: var(--size-2xl);
}
.filters * + details {
  margin-top: var(--size-2xl);
}

.results {
  grid-area: results;
}

.results ul {
  flex-direction: column;
}

.search {
  position: relative;
  grid-area: search;
  height: min-content;
  display: grid;
  grid-gap: var(--size-2xl);
  grid-template-columns: auto max-content;
  align-items: center;
}

.search input {
  display: block;
  flex: 1;
  font-size: 18px;
  background-color: var(--black-fade-5);
  border-radius: var(--border-radius);
  padding: var(--size-md);
  padding-left: 3rem;
  height: 3em;
}

.searchIcon {
  position: absolute;
  top: calc(50% - 12px);
  left: 12px;
}

.sortSelector {
  padding-left: var(--size-2xl);
  padding-right: var(--size-2xl);
}

.productList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: var(--size-lg);
}

.productListItem {
  display: flex;
  justify-content: center;
  width: 100%;
}

.priceFilter {
  display: grid;
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.pagination > button {
  width: var(--size-2xl);
  height: var(--size-2xl);
  font-size: var(--text-sm);
  border-radius: var(--border-radius-sm);
  display: grid;
  place-items: center;
}

.pagination > button:hover {
  background-color: var(--black-fade-10);
}

.pagination > button.selectedItem {
  background-color: var(--black-fade-10);
  font-weight: 700;
}

.pagination > button:disabled {
  cursor: default;
  opacity: 0;
}

.priceFilterStyle {
  display: flex;
}

.priceFilterStyle label {
  cursor: pointer;
  margin-top: 2px;
}

.priceFilterStyle summary {
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: var(--size-sm);
}

.clearButton {
  color: var(--black-fade-40);
}

.priceFields {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: var(--size-sm);
}

.priceFields input {
  max-width: 120px;
}
