.cartButtonContainerStyle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  align-self: center;
}

.badgeStyle {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color-80);
  box-shadow: 0 0 0 2px white;
  color: white;
  font-size: var(--text-xs);
  font-weight: 700;
  border-radius: 999px;
  position: absolute;
  bottom: 4px;
  right: 4px;
  height: 16px;
  min-width: 16px;
  padding: 0 var(--size-sm);
}

.linkStyle[aria-current="page"] {
  color: var(--primary-color-80);
}
