.filterStyle {
  display: flex;
}

.filterStyle label {
  cursor: pointer;
}

.filterStyle summary {
  font-weight: bold;
  text-transform: uppercase;
}

.summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.clearButton {
  color: var(--black-fade-40);
}
