.filterStyle {
  display: flex;
}

.filterStyle label {
  cursor: pointer;
  margin-top: 6px;
  color: var(--text-color-secondary);
  display: flex;
  align-items: baseline;
  line-height: var(--loose);
  font-size: var(--text-lg);
}

.filterStyle label:hover {
  color: var(--gray-90);
}

.filterStyle label.selectedLabel {
  font-weight: var(--semiBold);
  color: black;
}

.filterStyle summary {
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  font-size: var(--text-xs);
  letter-spacing: var(--tracked);
  padding-bottom: var(--size-md);
}

.summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.clearButton {
  color: var(--black-fade-40);
  font-size: var(--text-sm);
  line-height: var(--solid);
}

.checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  appearance: none;
  border: 1px var(--black-fade-40) solid;
  width: var(--size-xl);
  height: var(--size-xl);
  border-radius: var(--border-radius-sm);
  margin-right: var(--size-md);
}

@media (min-width: 640px) {
  .filterStyle label {
    line-height: var(--dense);
    max-width: 240px;
  }
  .checkbox {
    width: var(--size-lg);
    height: var(--size-lg);
  }
}

.checkbox:checked {
  border-color: var(--primary-color-80);
  background-color: var(--primary-color-80);
}

.checkbox::before {
  line-height: 0;
  font-size: var(--text-sm);
  font-weight: bold;
  color: white;
  content: "\2713";
}
