.priceFilter {
  display: grid;
}

.priceFilterStyle {
  display: flex;
}

.priceFilterStyle label {
  cursor: pointer;
  margin-top: 2px;
}

.priceFilterStyle .summary {
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: var(--size-md);
  font-size: var(--text-xs);
  letter-spacing: var(--tracked);
}

.priceFilterStyle summary::-webkit-details-marker,
summary::marker {
  color: transparent;
  display: none;
}

.clearButton {
  color: var(--black-fade-40);
  font-size: var(--text-sm);
  line-height: 1;
}

.priceFields {
  display: grid;
  align-items: center;
  justify-content: stretch;
  gap: var(--size-sm);
}
