.headerStyle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.headerSectionStyle {
  display: flex;
  flex-direction: row;
}

.containerStyle {
  display: flex;
  width: 100%;
  margin: 0fr;
  z-index: docked;
  height: 10%;
  align-items: center;
}

.logoSpan {
  display: flex;
  align-items: center;
  justify-self: center;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
}

.logoSpan:hover {
  color:var(--primary-color-8);
  text-decoration: none;
}

.spacer{
  width:1px ;
  height: 60px;
  min-width: 1px;
  min-height: 60px;
  display: block;
}
