.headerStyle {
  display: grid;
  width: 100%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  grid-template-columns: 24px 1fr min-content min-content;
  gap: var(--size-lg);
  align-items: center;
  background-color: white;
}

.headerSectionStyle {
  display: flex;
  flex-direction: row;
}

.containerStyle {
  display: flex;
  width: 100%;
  margin: 0fr;
  z-index: docked;
  height: 10%;
  align-items: center;
  padding-bottom: 60px;
  position: sticky;
  top: 0;
  z-index: 1;
}

.logoSpan {
  display: flex;
  align-items: center;
  justify-self: center;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
}

.logoSpan:hover {
  color: var(--primary-color-8);
  text-decoration: none;
}
