.navStyle {
  display: flex;
  flex-direction: row;
}

.styleLink{
  transition: all .3s ease-in-out;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  padding: 0.5rem;
}

.styleLink:hover{
  text-decoration: underline;
}

.styleLink:focus{
  box-shadow:outline;
  outline: 1px solid rgb(39, 5, 231);
}
