.navStyle {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  white-space: nowrap;
}

.Linkstyle {
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  padding: 0.5rem;
  color: var(--gray-50);
}

.Linkstyle:hover {
  text-decoration: underline;
  color: var(--text-color);
}

.Linkstyle:focus {
  box-shadow: outline;
  outline: 1px solid rgb(39, 5, 231);
}
