.productCardStyle {
  max-width: 400px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  padding: 0.5rem;
}

.productImageStyle {
  padding: 16px;
}

.productDetailsStyle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  width: 100%;
}

.productVendorStyle {
  font-size: 14px;
  color: var(--black-fade-40);
}

.productHeadingStyle {
  width: 100%;
  font-size: 18px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}
