.productCardStyle {
  max-width: 400px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  text-decoration: none;
  outline: none;
}

.productImageStyle {
  padding: var(--size-lg);
}

.productDetailsStyle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: var(--semiBold);
}

.productVendorStyle {
  font-size: var(--text-sm);
  color: var(--text-color-secondary);
}

.productHeadingStyle {
  width: 100%;
  font-size: var(--text-lg);
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}

.productPrice {
  color: var(--text-color-secondary);
}
