.spinner {
  text-indent: -9999em;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background: currentColor;
  background: linear-gradient(
    to right,
    currentColor 10%,
    rgba(255, 255, 255, 0) 42%
  );
  position: relative;
  animation: spin 1s infinite linear;
  transform: translateZ(0);
}
.spinner:before {
  width: 50%;
  height: 50%;
  background: currentColor;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
}
.spinner:after {
  background: var(--background);
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: "";
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
