.searchBarStyle {
  display: flex;
  color: var(--black-fade-40);
  background-color: var(--black-fade-5);
  border-radius: var(--border-radius);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-right: 1rem;
}
