.navLink {
    border: 1px black solid;
    height: 28px;
    margin: 0px;
    padding: 0px;
    background-color: rgb(12, 11, 11);
    color: white;
    position: absolute;
    top: -3em;
    left: 10px;

}

.navLink:focus{
    top:10px;
    outline: 3px solid #000 ;
}