.toastWrapper {
  background-color: var(--primary);
  color: var(--text-color-inverted);
  width: max-content;
  position: absolute;
  right: var(--space-xl);
  bottom: 0;
  padding: var(--space-md) var(--space-lg);
  font-size: var(--text-xs);
  font-weight: var(--semibold);
  border-radius: var(--radius-rounded);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--space-sm);
  min-width: 100px;
  justify-content: center;
  z-index: 10;
  white-space: nowrap;
}

@keyframes showing {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  50% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes hiding {
  50% {
    transform: translateX(200px);
    opacity: 0;
  }
  100% {
    transform: translateX(200px);
    opacity: 0;
  }
}

.hiding {
  animation: hiding 1s ease;
}

.showing {
  animation: showing 1s ease-out;
}
