.title {
  font-size: var(--text-4xl);
  font-weight: var(--bold);
  margin: 0;
  padding: var(--size-2xl) var(--size-2xl) var(--size-md);
}

@media (min-width: 640px) {
  .title {
    text-align: center;
  }
}
